body {
  user-select: none;
}

.btn{
  width: max-content;
  height: max-content;
  border-radius: 8px;
}

.dashboard {
  display: flex;
  gap: 16px;
  width: 100vw;
  height: 100vh;
  background-color: #0279bf;
  padding: 8px;
}

.bucket {
  text-align: center;
  width: 240px;
  height: 100%;
  background-color: #ebecf0;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.cards::-webkit-scrollbar {
  display: none;
}

.cards {
  overflow: scroll;
  flex-grow: 1;
}

.card {
  background-color: #fff;
  margin-top: 4px;
  border-radius: 4px;
  padding: 8px;
}

.popup{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 146, 146, 0.5);

}

.window{
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-width: 450px;
  background-color: rgb(209, 209, 209);
}

.add-btn{

}

.close-btn{
  position: absolute;
  top: 0;
  right: 0;
}

.close-btn:target{

}

